
.gastos-container{
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h1{
    text-align: center;
    margin: 1.2rem auto 3rem ;
    font-weight: 600;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 1.2rem auto;
    justify-content: space-between; 
  }
  
  /* .input-field {
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: white;
    color: #555;
    transition: border 0.3s ease-in-out;
  } */

.form-container input,
.form-container select {
    flex: 1 2 calc(22% - 18px); 
    padding: 18px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 3px;
}

.form-container input:focus,
.form-container select:focus {
    box-shadow: 0 0 5px rgba(6, 70, 181, 0.3);
    outline: none;
}
  
 .form-container select:hover {
    border: 1.2px solid rgb(6, 70, 181);
    outline: none;
  }
  
  .form-container  input:hover {
    border: 1px solid rgb(6, 70, 181);
    outline: none;
  }
  

.form-container input::placeholder {
    color: #a39a9a;
}

.productos{
    border: 1px solid rgba(36, 36, 36, 0.489);
    width: 100%;
    overflow-x: auto;
}

.fila{
    background-color: rgb(11, 105, 160);
    color: rgb(245, 243, 239);
}

.btn-up{
    position: fixed;
    bottom: 20px;
    background-color: #690ee3;
    color: #faf7f7;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.3s, transform 0.3s;
}

.btn-up:hover {
    opacity: 1;
}


