.loader {
    scroll-behavior: smooth;
    /* background-image: url("../../assets/portada.png"); */
    /* background-position: center center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-attachment: fixed;  */
    background-color: #ffffff;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;      
    justify-content: center;
    align-items: center;
    gap: 2rem;                   
    
}

.loader h2 {
    color: #000000;
    margin-bottom: 0;
    font-weight: 800;          
}