.loader {
    scroll-behavior: smooth;
    background-image: url("../../assets/portada.png");
    background-position: center center; /* centrado */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;      
    justify-content: center;
    align-items: center;
    gap: 2rem;                   
    
}

.loader h2 {
    color: #ffffff;
    margin-bottom: 0;
    font-weight: 800;          
}