.consejo-container{
    margin: 3rem auto;
    max-width: 1200px;
    padding: 1rem 1.2rem;
      font-family: "Montserrat", system-ui;
}

@media (max-width: 600px){
.accordion-container{
    margin: 1.2rem auto;
}
}

.ahorro-container{
    margin: .9rem auto;
    padding: 0 1rem;
}

.ahorro-container p {
    flex-wrap: wrap;
    padding: 0 1rem 0 2rem;
}