.notas-container {
    position: fixed;
    bottom: 80px;
    left: 10px;
    border-radius: 100%;
    padding: 10px 20px;
    cursor: pointer;
    color: rgb(20, 20, 20);
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}


.notas-container button:hover {
    opacity: 1; 
    color: #242424; 
    transform: scale(1.2) rotate(12deg);
    transition: transform 0.9s, opacity 0.3s; 
}

.outlined {
    border: none;
    background-color: none;
}
.icon-noti button {
    border: none;
    background-color: none;
    font-size: 1.2rem;
    cursor: pointer; 
}