.notas-container {
    position: fixed;
    bottom: 70px;
    left: -8px;
    border-radius: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.notas-container svg{
    font-size: 2.2rem;
    color: #242424;
}

.dialog-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}

.input-notas input {
    font-family: "Montserrat", system-ui;
    font-size: 1rem;
    /* width: 90%; */
    padding: 12px;
    margin: 12px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
    outline: none;
  }
  
  .input-notas input:focus {
    border-bottom: 2px solid #9b09de;
  }

.input-notas{
    margin: 1.2rem auto;
}

.notas-container button:hover {
    opacity: 1; 
    color: #242424; 
    transform: scale(1.2) rotate(12deg);
    transition: transform 0.9s, opacity 0.3s; 
}

.outlined {
    border: none;
    background-color: none;
}
.icon-noti button {
    border: none;
    background-color: none;
    font-size: 1rem;
    cursor: pointer; 
}
.notas-table {
    width: 100%;
    text-align: center;
}

.nota-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nota-row td {
    flex: 1;
}

.nota-row td:last-child {
    display: flex;
    justify-content: flex-end;
}

